{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <script type="text/javascript">
        function CopyAddress(f) {
            if(f.sameaddress.checked == true) {
                f.present_address.value = f.permanent_address.value;
            }
        }

        function CopyGuardian(f) {
            if(f.sameguardian.checked == true) {
                f.local_guardian_name.value = f.g_name.value;
                f.local_guardian_address.value = f.g_address.value;
            }
        }
    </script>    

    <br>
    <h2>Register a new student</h2>
    <h6>Fields with a <strong>*</strong> are required fields.</h6>
    <br>
    
    <form method="POST"> {% csrf_token %}
        <h4>Student Details</h4>
        <div class="row">        
            <div class="col-5">
                {{ form.name|as_crispy_field }}
            </div>
            <div class="col-2">
                {{ form.gender|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                {{ form.caste|as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form.religion|as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form.community|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form.permanent_address|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.present_address|as_crispy_field }}
            </div>
        </div>

        <input type="checkbox" name="sameaddress" onclick="CopyAddress(this.form)">
        <em>Check this box if permanent address and present address are the same.</em>
        <br><br>

        <div class="row">
            <div class="col-4">
                {{ form.phone_1|as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form.phone_2|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                {{ form.date_of_birth|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.email|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form.concession|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                {{ form.nationality|as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form.state|as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form.district|as_crispy_field }}
            </div>
        </div>
        
        <br>
        <h4>Guardian Details</h4>
        <div class="row">
            <div class="col-4">
                {{ form.guardian|as_crispy_field }}
            </div>
        </div>        
        <div class="row">
            <div class="col-6">
                {{ form.g_name|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.g_relationship|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                {{ form.g_occupation|as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form.g_phone|as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form.g_email|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form.g_address|as_crispy_field }}
            </div>
        </div>
        
        <br>
        <h4>Local Guardian Details (essential in case of students from outside Thiruvananthapuram)</h4>
        <input type="checkbox" name="sameguardian" onclick="CopyGuardian(this.form)">
        <em>Check this box if Local Guardian and above mentioned Guardian are the same.</em>
        <br><br>
        <div class="row">
            <div class="col-6">
                {{ form.local_guardian_name|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form.local_guardian_address|as_crispy_field }}
            </div>
        </div>
        <br>
        <h4>Academic Details</h4>
        <div class="row">
            <div class="col-6">
                {{ form.tc_number|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.tc_date|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ form.tc_institution|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                {{ form.exam_roll_no|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                {{ form.entrance_roll_no|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                {{ form.entrance_rank|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.reservation_rank|as_crispy_field }}
            </div>
        </div>
        
        <br>
        <h4>Selection Memo Details</h4>
        <div class="row">
            <div class="col-4">
                {{ form.selection_memo_number|as_crispy_field }}
            </div>    
            <div class="col-6">
                {{ form.selection_memo_date|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                {{ form.alloted_college_code|as_crispy_field }}
            </div>
            <div class="col-3">
                {{ form.alloted_course_code|as_crispy_field }}
            </div>
            <div class="col-3">
                {{ form.alloted_branch_code|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form.reservation_code|as_crispy_field }}
            </div>
        </div>
        
        <br>
        <h4>Documents submitted</h4>
        <div class="row">
            <div class="col-4">
                {{ form.tc_submitted|as_crispy_field }}
            </div>
        </div>
        <div class="row">
                <div class="col-4">
                    {{ form.marklist_submitted|as_crispy_field }}
                </div>
            </div>
        <div class="row">
            <div class="col-4">
                {{ form.community_submitted|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                {{ form.migration_submitted|as_crispy_field }}
            </div>
        </div>
        
        <br>
        <h4>Details of fee remitted</h4>
        <div class="row">
            <div class="col-4">
                {{ form.fee_concession|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                {{ form.amount|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.bank_receipt_no|as_crispy_field}}
            </div>
        </div>
        
        <button type="submit" class="save btn btn-primary btn-lg btn-success">Save</button>
    </form>
    <br><br>
    
{% endblock %}















